<!-- TODO: Move all this to rule management page and do this instead: -->
<!-- TODO: Display all user's children -->
<!-- TODO: add 'log off' button -->
<!-- TODO: add 'register child' form -->
<!-- TODO: add 'remove child' form -->


<div *ngIf="user !== undefined" class="container">
    <div class="row">
        <div class="col">
            <h4>Name: {{ user.fullName }}</h4>
        </div>
        <div class="col">
            <h4>Balance: ${{ user.balance }}</h4>
        </div>
        <div class="col">
            <h4>Global Limit: ${{ user.balance }}</h4>
        </div>
        <div class="col">
            <input type="number" [(ngModel)]="newBalance">
        </div>
        <div class="col">
            <button (click)="setBalance(newBalance)" type="button" class="btn btn-success">Set Limit</button>
        </div>
    </div>
    <div class="row">
        <h2>Rules List:</h2>
    </div>
    <div class="row">
        <div class="col">
            Category
        </div>
        <div class="col">
            Allowed?
        </div>
        <div class="col">
            Limit
        </div>
    </div>
    <hr>
    <ng-container *ngIf="rulesList !== undefined">
        <div *ngFor="let key of rulesList" class="row">
            <div class="col-4">
                {{ user.rules[key].category }}
            </div>
            <div class="col-4">
                {{ user.rules[key].allowed ? 'Yes' : 'No'}}
            </div>
            <div *ngIf="user.rules[key].allowed" class="col-3">
                {{ user.rules[key].limit }}
            </div>
            <div class="col-1">
                <i (click)="deleteRule(key)" class="fa clickable fa-trash-o"></i>
            </div>
        </div>
    </ng-container>
    <div class="row">
        <div class="col">
            <h4>New Rule</h4>
        </div>
    </div>
    <form (ngSubmit)="createRule()" #newRuleForm="ngForm">
        <div class="row">
            <div class="col">
                <label for="newRuleCategory">Category</label>
                <select name="newRuleCategory" id="newRuleCategory" [(ngModel)]="newRuleCategory" required>
                    <option value="select" disabled selected hidden></option>
                    <option value="food">Food</option>
                    <option value="entertainement">Entertainement</option>
                    <option value="transportation">Transportation</option>
                    <option value="clothes">Clothes</option>
                </select>
            </div>
            <div class="col">
                <label for="newRuleAllowed">Allowed?</label>
                <select name="newRuleAllowed" id="newRuleAllowed" [(ngModel)]="newRuleAllowed" required>
                    <option value="select" disabled selected hidden></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div *ngIf="newRuleAllowed === 'true'" class="col">
                <label for="newRuleLimit">Limit</label>
                <input type="number" name="newRuleLimit" [(ngModel)]="newRuleLimit">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="!newRuleForm.form.valid">Create Rule</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col">
            <h2>Transactions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>type</h4>
        </div>
        <div class="col">
            <h4>description</h4>
        </div>
        <div class="col">
            <h4>amount</h4>
        </div>
        <div class="col">
            <h4>merchant</h4>
        </div>
        <div class="col">
            <h4>approved?</h4>
        </div>
    </div>
    <ng-container *ngIf="transactionList !== undefined">
        <div *ngFor="let key of transactionList" class="row">
            <div class="col">
                {{ user.transactions[key].category }}
            </div>
            <div class="col">
                {{ user.transactions[key].description }}
            </div>
            <div class="col">
                {{ user.transactions[key].amount }}
            </div>
            <div class="col">
                {{ user.transactions[key].merchant }}
            </div>
            <div class="col">
                {{ user.transactions[key].approved ? 'Yes' : 'No' }}
            </div>
        </div>
    </ng-container>
</div>
<!-- TODO: Display latest transactions for child -->
<!-- TODO: Display current maximum allowance -->
<!-- TODO: Display current rules (with option to delete and edit) -->
<!-- TODO: Display button for adding new rule -->
