<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> -->
<nav *ngIf="!hideNavbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div *ngIf="login !== null" class="navbar-brand clickable" (click)="goTo('dashboard');hideNavbar = true"><i class="fa fa-user"></i></div>
    <div *ngIf="login !== null" class="navbar-brand">{{ login }}'s Parent</div>
    <button *ngIf="login !== null" class="btn btn-outline-success ml-auto" (click)="logout()">Logout</button>
</nav>
