<div class="container">
    <div class="row">
        <h1>Welcome to TD Allowance Card</h1>
    </div>
    <div class="row">
        <h2>Please log in using your name</h2>
    </div>
    <div class="row">
        <form (ngSubmit)="loginFunction()" #loginForm="ngForm">
            <div class="form-group">
                <label for="userName">Login</label>
                <input [(ngModel)]="userName" type="text" class="form-control" id="userName" name="userName" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Log In</button>
        </form>
    </div>
    <div class="row">
        The user names (They are secret!):
    </div>
    <div *ngFor="let user of userList" class="row">
        {{ user.fullName }}
    </div>
    <!-- <div class="row">
        <div class="col-xs-12">
            <button (click)="setCustomer()" type="button" class="btn btn-primary">Set Customer</button>
        </div>
    </div> -->
</div>

